<!-- @if ({} as dados) { -->
<form class="card m-2">
    <div class="card-title">
        <h5>Plano de aporte</h5>
        <span class="badge badge-primary float-end">{{totais.rebalanceamentos.length}}</span>
    </div>
    <table class="card-body table table-striped mb-0">
        <thead>
            <tr>
                <th>Carteira</th>
                <th>Financeiro</th>
                <th>Aporte</th>
                <th>Total</th>
                <th>% Planejado</th>
                <th>% Atual</th>
                <th>% Novo</th>
                <th>% Dif</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @for (item of totais.rebalanceamentos; track $index; let idx = $index) {
            <tr [ngClass]="{'table-active active': itemSelecionado === item}">
                <td class="action" (click)="selecionarItem(item)">{{item.carteira}}</td>
                <td class="number"><span class="me-2">{{item.financeiro | number:'1.2-2'}}</span></td>
                <td class="form-group py-0 px-2 mb-0">
                    <input type="number" class="form-control" name="item_{{idx}}" id="item_{{idx}}" step="0.01" [(ngModel)]="item.aporte">
                </td>
                <td class="number"><span class="me-2">{{item.total| number:'1.2-2'}}</span></td>
                <td class="number"><span class="me-2">{{item.planejado  | percent:'1.2-2'}}</span></td>
                <td class="number"><span class="me-2">{{item.percentual | percent:'1.2-2'}}</span></td>
                <td class="number"><span class="me-2">{{item.novo | percent:'1.2-2'}}</span></td>
                <td class="number"><span class="me-2">{{item.dif  | percent:'1.2-2'}}</span></td>
                <td class="action"><a href="javascript:void(0)" (click)="abrirModal(item)">editar</a></td>
            </tr>
        }
        </tbody>
        <tfoot>
            <tr class="table-dark">
                <td>Total</td>
                <td class="number"><span class="me-2">{{totais.financeiro | number:'1.2-2'}}</span></td>
                <td class="number"><span class="me-2">{{totais.aporte | number:'1.2-2'}}</span></td>
                <td class="number"><span class="me-2">{{totais.total  | number:'1.2-2'}}</span></td>
                <td class="number"><span class="me-2">{{totais.planejado  | percent:'1.2-2'}}</span></td>
                <td class="number"><span class="me-2">{{totais.percentual | percent:'1.2-2'}}</span></td>
                <td colspan="3"></td>
            </tr>
        </tfoot>
    </table>
    <div class="card-footer d-flex">
        <div class="form-group row">
            <div class="col-auto">
                <label for="aporte">Aporte do mês</label>
            </div>
            <div class="col-auto">
                <input type="number" class="form-control" name="aporte" id="aporte" step="0.01" [(ngModel)]="aporte">
            </div>
        </div>
        <div class="me-auto d-flex">
            <div class="ms-2 text-start flex-fill">
                Diferença plano x aporte: {{diferencaAporte | number:'1.2-2'}}
            </div>
        </div>
    </div>
</form>

@if (itemSelecionado) {
    <app-aportes-form 
        [carteira]="carteiraSelecionada(itemSelecionado)" 
        [(aporte)]="itemSelecionado.aporte"
        [aportes]="itemSelecionado.items"/>
}
