<div class="card m-3">
    <div class="card-header d-flex justify-content-between">
        <h3>
            {{carteira.nome}}
        </h3>
        <div class="float-end">
            <button type="button" class="border-0" (click)="removerCarteira()">&times;</button>
        </div>
    </div>
    <app-carteira-ativo-list 
            [ativos]="carteira.ativos" 
            (onRemoveAtivo)="removeCarteiraAtivo($event)"
            (onEditarAtivo)="editarCarteiraAtivo($event)"
            (onAdicionarAtivo)="adicionarCarteiraAtivo()" />
    <div class="card-footer">
        <div class="text-end">
            <a href="javascript:void(0)" class="me-2" (click)="editarCarteira()">editar</a>
            <a href="javascript:void(0)" (click)="removerCarteira()">remover</a>
        </div>
    </div>
</div>