<div class="card m-2">
    <div class="card-head">
        <h5 class="card-title">Ativos</h5>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <!-- <th>Id</th> -->
                <th>Quantidade</th>
                <th>Sigla</th>
                <th>Nova Quantidade</th>
                <th>Cotação</th>
                <th>Financeiro</th>
                <th>Objetivo (%)</th>
                <th>Novo (%)</th>
                <th>Dif. (%)</th>
                <th>Qtd Compra</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @for (item of aportes | keyvalue; track $index; let idx = $index) {
            <tr>
                <!-- <td>{{item.value.ativoId}}</td> -->
                <td class="number">{{item.value.quantidade}}</td>
                <td>{{item.value.sigla}}</td>
                <td class="number py-0 px-2">
                    <input type="number" class="form-control" [(ngModel)]="item.value.novaQuantidade" min="0" step="0.01" name="novaQuantidade_{{idx}}" 
                        (change)="fireAporteChanged(item.value)"
                        (keyup)="fireAporteChanged(item.value)"/>
                </td>
                <td class="number">{{item.value.cotacao.preco | number:'1.2-2'}}</td>
                <td class="number">{{item.value.financeiro | number:'1.2-2'}}</td>
                <td class="number">{{item.value.objetivo | percent:'1.2-2'}}</td>
                <td class="number">{{item.value.novo | percent:'1.2-2'}}</td>
                <td class="number">{{item.value.dif | percent:'1.2-2'}}</td>
                <td class="number">{{item.value.qtdCompra}}</td>
                <td class="number">{{item.value.total | number:'1.2-2'}}</td>
            </tr>
        }
        </tbody>
    @if(!!totais) {
        <tfoot>
            <tr class="table-dark">
                <td colspan="4">Totais</td>
                <td class="number">{{totais.financeiro| number:'1.2-2'}}</td>
                <td class="number">{{totais.objetivo| percent:'1.2-2'}}</td>
                <td class="number">{{totais.novo| percent:'1.2-2'}}</td>
                <td colspan="3" class="number">{{total| number:'1.2-2'}}</td>
            </tr>
        </tfoot>
    }
    </table>
</div>
