<div class="d-flex">
    <button type="button" class="btn btn-light" (click)="adicionarCarteira()">Adicionar Carteira</button>
    <button type="button" class="btn btn-light" (click)="adicionarAtivo()">Adicionar Ativo</button>
    <button type="button" class="btn btn-light" (click)="atualizarCotacoes()">Atualizar Cotações</button>
</div>
@if (info) {
    <div class="d-flex w-100">
        <div class="progress w-100" role="progressbar" aria-label="Atualização de cotações">
            <div class="progress-bar" [style]="{'width': 100 * info.progresso + '%'}"></div>
        </div>
    </div>
}

<div>
    Carteira Status: {{carteiraStatus$ | async}}
    @if (carteiraError$ | async; as error) {
        <div class="error">{{error | json}}</div>
    }
</div>
<div>
    Ativo Status: {{ativoStatus$ | async}}
    @if (ativoError$ | async; as error) {
        <div class="error">{{error | json}}</div>
    }
</div>
<div>
    Cotação Status: {{cotacoesStatus$ | async}}
    @if (cotacoesError$ | async; as error) {
        <div class="error">{{error | json}}</div>
    }
</div>

@for (carteira of (carteiras$ | async) ; track carteira.identity) {
    <div>
        <app-carteira-card [carteira]="carteira"
            (onEditarCarteira)="editarCarteira($event)"
            (onRemoverCarteira)="removerCarteira(carteira)"
            (onOcultarCarteira)="ocultarCarteira(carteira)"
            (onEditarCarteiraAtivo)="editarCarteiraAtivo($event)"
            (onAdicionarCarteiraAtivo)="adicionarCarteiraAtivo($event)"
            (onRemoverCarteiraAtivo)="removerCarteiraAtivo($event)"
            />
    </div>
}

@if ((ativos$ | async); as itens) {
    <app-ativos-card [ativos]="itens"/>
}
