<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Nome</th>
            <th>Sigla</th>
            <th>Moeda</th>
            <th>Cotação</th>
            <th>Quantidade</th>
            <th>Vl.Inicial</th>
            <th>Vl.Atual</th>
            <th>Valorização</th>
            <th>Valorização (%)</th>
            <th>Objetivo (%)</th>
            <th>Participação (%)</th>
            <th>Dif. Part. (%)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@for (item of consolidado.items; track item.ativoId) {
        <tr>
            <td>{{item.nome}}</td>
            <td>{{item.sigla}}</td>
            <td class="text-center">{{item.moeda}}</td>
            <td [ngClass]="item.cotacao ? 'text-end' : 'text-center'">
            @if(item.cotacao?.valor != undefined) { {{item.cotacao?.valor | number:'1.6-6'}} } @else { <i class="fas fa-spinner fa-spin"></i>- }
            </td>
            <td class="text-end">{{item.quantidade | number:'1.0-6'}}</td>
            <td class="text-end">{{item.vlInicial | number:'1.2-2'}} </td>
            <td class="text-end">{{item.vlFinal | number:'1.2-2'}}</td>
            <td class="text-end">{{item.valorizacao | number:'1.2-2'}}</td>
            <td class="text-end">{{item.valorizacaoPerc | percent:'1.2-2'}}</td>
            <td class="text-end">{{item.objetivo | percent:'1.2-2'}}</td>
            <td class="text-end">{{item.participacao | percent:'1.2-2'}}</td>
            <td class="text-end">{{item.difObjetivo | percent:'1.2-2'}}</td>
            <td>
                <a href="javascript:void(0)" (click)="editarAtivo(item)">editar</a><br/>
                <a href="javascript:void(0)" (click)="removerAtivo(item)">remover</a>
            </td>
        </tr>
}
    </tbody>
    <tfoot>
        <tr class="table-dark">
            <td>Totais:</td>
            <td class="text-end" colspan="5">{{consolidado.total.vlInicial| number:'1.2-2'}}</td>
            <td class="text-end">{{consolidado.total.vlTotal| number:'1.2-2'}}</td>
            <td class="text-end">{{consolidado.total.valorizacao| number:'1.2-2'}}</td>
            <td class="text-end">{{consolidado.total.valorizacaoPerc| percent:'1.2-2'}}</td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td colspan="13" class=" m-0 p-0">
                <button type="button" class="border bg-light" (click)="adicionarAtivo()">Adicionar Ativo</button>
            </td>
        </tr>
    </tfoot>
</table>
