<table class="table table-striped mb-0">
    <thead class="table-dark">
        <tr>
            <th>Nome</th>
            <th>Sigla</th>
            <th>Moeda Ativo</th>
            <th>Cotação ({{carteira.moeda}})</th>
            <th>Qtde.</th>
            <th>Preço Médio</th>
            <th>Vl. Inicial</th>
            <th>Vl. Atual</th>
            <th>Ganho</th>
            <th>Ganho (%)</th>
            <th>Objetivo (%)</th>
            <th>Participação (%)</th>
            <th>Dif. Part. (%)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@for (item of consolidado.items; track item.ativoId) {
        <tr>
            <td>{{item.nome}}</td>
            <td>{{item.sigla}}</td>
            <td class="text-center">{{item.moeda}}</td>
            <td class="number" [ngClass]="item.cotacao ? 'text-end' : 'text-center'">
                <ng-container [ngTemplateOutlet]="ConteudoCotacao" [ngTemplateOutletContext]="{$implicit: item.cotacao}"/>
            </td>
            <td class="number text-end">{{item.quantidade | number:'1.0-6'}}</td>
            <td class="number text-end">{{item.vlInicial/item.quantidade | number:'1.2-2'}}</td>
            <td class="number text-end">{{item.vlInicial | number:'1.2-2'}} </td>
            <td class="number text-end">{{item.vlFinal | number:'1.2-2'}}</td>
            <td class="number text-end">{{item.valorizacao | number:'1.2-2'}}</td>
            <td class="number text-end">{{item.valorizacaoPerc | percent:'1.2-2'}}</td>
            <td class="number text-end">{{item.objetivo | percent:'1.2-2'}}</td>
            <td class="number text-end">{{item.participacao | percent:'1.2-2'}}</td>
            <td class="number text-end">{{item.difObjetivo | percent:'1.2-2'}}</td>
            <td>
                <a href="javascript:void(0)" (click)="editarAtivo(item)">editar</a><br/>
                <a href="javascript:void(0)" (click)="removerAtivo(item)">remover</a>
            </td>
        </tr>
}
    </tbody>
    <tfoot>
        <tr class="table-dark">
            <td>Totais:</td>
            <td colspan="5"></td>
            <td class="number text-end">{{consolidado.total.vlInicial| number:'1.2-2'}}</td>
            <td class="number text-end">{{consolidado.total.vlTotal| number:'1.2-2'}}</td>
            <td class="number text-end">{{consolidado.total.valorizacao| number:'1.2-2'}}</td>
            <td class="number text-end">{{consolidado.total.valorizacaoPerc| percent:'1.2-2'}}</td>
            <td colspan="4"></td>
        </tr>
    @if (carteira.moeda != BRL) {
        <tr class="table-secondary">
            <td>Totais:</td>
            <td colspan="5"></td>
            <td class="number text-end">{{converterParaBRL(consolidado.total.vlInicial)| number:'1.2-2'}}</td>
            <td class="number text-end">{{converterParaBRL(consolidado.total.vlTotal)| number:'1.2-2'}}</td>
            <td class="number text-end">{{converterParaBRL(consolidado.total.valorizacao)| number:'1.2-2'}}</td>
            <td colspan="5"></td>
        </tr>
    }
        <tr>
            <td colspan="14" class=" m-0 p-0">
                <button type="button" class="border bg-light" (click)="adicionarAtivo()">Adicionar Ativo</button>
            </td>
        </tr>
    </tfoot>
</table>
<ng-template #ConteudoCotacao let-cotacao>
    @if(cotacao?.valor != undefined) { 
        <span title="{{cotacao.preco | number:'1.6-6'}}">
            {{cotacao.preco | number:'1.2-2'}} 
        </span>
    } 
    @else { <i class="fas fa-spinner fa-spin"></i>- }
</ng-template>