<div>
    Carteira Status: {{carteiras.status$ | async}}
    @if (carteiras.erros$ | async; as error) {
        <div class="error">{{error | json}}</div>
    }
</div>
<div>
    Ativo Status: {{ativos.status$ | async}}
    @if (ativos.erros$ | async; as error) {
        <div class="error">{{error | json}}</div>
    }
</div>
<div>
    Cotação Status: {{cotacoes.status$ | async}}
    @if (cotacoes.erros$ | async; as error) {
        <div class="error">{{error | json}}</div>
    }
</div>

@for (carteira of (carteiras.dados$ | async) ; track carteira.identity) {
    <div>
        <app-carteira-table [carteira]="carteira"
            (onRemoverCarteira)="removerCarteira(carteira)"
            (onAdicionarCarteiraAtivo)="adicionarCarteiraAtivo($event)"
            (onRemoverCarteiraAtivo)="removerCarteiraAtivo($event)"
            />
    </div>
}

@if ((ativos.dados$ | async); as itens) {
    <app-ativos-card [ativos]="itens"/>
}

<button type="button" (click)="adicionarCarteira()">Adicionar Carteira</button>
<button type="button" (click)="adicionarAtivo()">Adicionar Ativo</button>

