<p>carteira-list works!</p>
@if (carteiras$ | async; as carteiras) {
    @for (carteira of carteiras.items; track carteira.identity) {
        <div>
            <app-carteira-table [carteira]="carteira"></app-carteira-table>
        </div>
    }
}
<button type="button" (click)="adicionarCarteira()">Adicionar Carteira</button>
<button type="button" (click)="adicionarAtivo()">Adicionar Ativo</button>

@if (ativos$ | async; as ativos) {
    @for (ativo of ativos.items; track ativo.identity) {
        <app-ativo-item [ativo]="ativo" (onRemoveAtivo)="removeAtivo(ativo)"/>
    }

    <pre>
        {{ativos | json}}
    </pre>
}
