<p>carteira-list works!</p>
<div>
    Carteira Status: {{carteiraStatus$ | async}}
    @if (carteiraError$ | async; as error) {
        <div class="error">{{error | json}}</div>
    }
</div>
<div>
    Ativo Status: {{ativoStatus$ | async}}
    @if (ativosError$ | async; as error) {
        <div class="error">{{error | json}}</div>
    }
</div>
<div>
    <button (click)="obterCotacoes()">Obter cotações</button>
</div>

@if (carteiras$ | async; as carteiras) {
    @for (carteira of carteiras.sort(sortByNome); track carteira.identity) {
        <div>
            <app-carteira-table [carteira]="carteira"
                (onRemoverCarteira)="removerCarteira(carteira)"
                (onAdicionarCarteiraAtivo)="adicionarCarteiraAtivo($event)"
                (onRemoverCarteiraAtivo)="removerCarteiraAtivo($event)"
                />
        </div>
    }
}
<button type="button" (click)="adicionarCarteira()">Adicionar Carteira</button>
<button type="button" (click)="adicionarAtivo()">Adicionar Ativo</button>
