table {
    th {
        width: 20%;

        &:first-child {
            width: 40%;
        }
    }
    td.number, td.abrev {
        vertical-align: bottom;
        font-size: 80%;
    }
    td {
        vertical-align: baseline;
    }
}